[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#pyinfra = ">=3.3"
pyinfra = { git = "https://github.com/bad/pyinfra.git", ref="3.x-local" }
#pyinfra = { path = "./pyinfra/", editable = true, extras = ["test"] }

[dev-packages]

[requires]
python_version = "3.12"
